#cookieBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    color: #333;
    border-top: 1px solid #ddd;
    font-size: 14px;
    flex-wrap: wrap;
}

#cookieBanner p {
    font-size: 16px;
    margin: 0;
    flex: 1;
    margin-left: 1.5em;
    max-width: 70%;
    line-height: 1.5;
}

#cookieBanner a {
    color: #677583;
    font-weight: bold;
    text-decoration: none;
}

.accept {
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    background-color: #4d555cec;
    margin-right: 3em;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.082);
    outline: none;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.accept:hover {
    background-color: #171C24;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.250);
}

/* Mobile and Tablet Responsive Styles */
@media (max-width: 720px) {
    #cookieBanner p {
        font-size: 16px;
        margin: 0;
        flex: 1;
        margin-left: 1.5em;
        max-width: 70%;
        line-height: 1.5;
    }
    
    #cookieBanner a {
        color: #677583;
        font-weight: bold;
        text-decoration: none;
    }
    .accept {
        background-color:#171C24 ;
       
    }

}

@media (max-width: 509px) {
    #cookieBanner p {
        font-size: 14px;
        margin: 0;
        flex: 1;
        margin-left: 1.5em;
        max-width: 70%;
        line-height: 1.5;
    }
    
    #cookieBanner a {
        text-decoration: none;
    }
    .accept {
        font-size: 12px;
        background-color:#171C24 ;
        padding: 9px 18px;
    }
}

@media (max-width: 409px){

    .accept {
        font-size: 12px;
        background-color:#171C24 ;
        padding: 8px 16px;
    }
}