body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

main {
    padding: 60px 20px;
    text-align: center;
}
.shorten-section{
    margin-bottom: 5em;
}

.shorten-section h1 {
    color: #171C24;
    margin-top: 5.3ex;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;
}

.shorten-section h2 {
    color: #677583;
    margin-top: 0px;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 45px;
}

.shorten-section p {
    color:#3C4B62;
    margin-top: -15px;
    margin-bottom: 45px;
    font-size: 18px;
    line-height:  35px;
}
.shorten-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
    position: relative;
}

.shorten-form input {
    font-family: "Montserrat", sans-serif;
    padding: 18px 45px; /* Adjust padding to make space for the icon */
    width: 450px;
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.082); /* Soft shadow */
    outline: none;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    user-select: text;  /* Allow text selection and enable pasting */
    -webkit-user-select: text; /* For Safari */
    -moz-user-select: text;  /* For Firefox */
}

.shorten-form input::placeholder {
    color: #BEC7D5; /* Light gray placeholder text */
    font-weight: 500;
}

.shorten-form input:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.150); /* Slightly stronger shadow on focus */
}

.shorten-form input:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.150); /* Slight shadow change on hover */
}

.shorten-form .search-icon {
    position: absolute;
    left: 16px; /* Position the icon inside the input */
    font-size: 20px;
    color: #BEC7D5;
}

.shorten-form button {
    font-family: "Montserrat", sans-serif;
    padding: 18px 45px;
    background-color: #4d555cec;
    color: #ffffff;
    border: none;
    border-radius: 5px; /* Same rounded corners as the input */
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.082); /* Same shadow as the input */
    outline: none;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.shorten-form button:hover,
.shorten-form button.typing-active {
    background-color: #171C24;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.250); /* Slight shadow change on hover */
}

.shorten-form button:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.250); /* Slightly stronger shadow on focus */
}

.shortened-links h2 {
    font-size: 18px;
    margin-right: 500px;
    margin-bottom: 20px;
    font-weight: 550;
    color: #A2ABB8;
}
.custom-link {
    color: #387FFF;
    text-decoration: none;
    position: relative;
}
.custom-link::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #387FFF;
    position: absolute;
    bottom: -2px; /* Adjust this value to position the underline */
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.custom-link:hover::after {
    transform: scaleX(1);
}


#links-list {
    list-style: none;
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
}

#links-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 15px;
}
.url-img {
    width: 35px;
    margin-left: 0px;
    margin-right: 2px;
}
.link-icon {
    margin-right: -20px;
    
}

.link-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 500px;
}

.short-link {
    font-weight: 550;
    margin-bottom: 3px;
    color:#171C24 ;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 380px;
    font-size: 16px;
}

.long-link {
    color: #677583;
    overflow: hidden;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; 
}

.copy-btn,
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
}

.copy-btn img,
.delete-btn img {
    width: 100%;
    height: 100%;
}


.dashboard-stats {
    display: flex;
    justify-content: center;
    gap: 15px; 
   
}

.stat-item {
    background: #ffffff;
    padding: 25px; /* Reduce padding for a more compact look */
    border-radius: 8px;
    width: 180px; /* Reduce width */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 4em;
}

.stat-icon {
    width: 35px; 
    height: 35px;
    margin-bottom: 15px; 
}

.stat-item h3 {
    font-size: 16px; 
    color: #677583;
    margin-bottom: 10px; 
    font-weight: 600;
}

.stat-item p {
    font-size: 28px; 
    font-weight: 700;
    color: #171C24;
    margin: 0;
}
.stat-item img.links-icon {
    width: 35px; 
    height: auto; 
}
.stat-item img.total-icon {
    width: 30px; 
    height: auto;
}.stat-item img.users-icon {
    width: 30px; 
    height: auto; 
}

.links-icon{
    .user-icon {
        width: 20px; 
        height: 20px; 
    }
    
}
.dashboard-stats-section{
    margin-top: 6em;
}
.section-heading {
    font-size: 30px;
    font-weight: 700;
    color: #171C24;
    margin-bottom: -20px;
    text-align: center; 
    margin-top: 0ex;
}

.section-subheading {
    font-size: 30px;
    margin-right: 00px;
    margin-bottom: 2px; 
    font-weight: 700;
    color: #677583;
    text-align: center; 
}

.section-paragraph {
    max-width: 620px;
    margin: 1em auto;
    font-size: 18px;
    line-height: 1.8;
    color: #3C4B62;
    text-align: center;
    padding: 0 15px;
    word-wrap: break-word;  /* Ensures text breaks within the container */
    white-space: normal;  /* Allows normal text wrapping */
}


.contact-link {
    color: #387FFF;
    text-decoration: none; 
    font-weight: 00;
    position: relative; 
}

.contact-link::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #387FFF; 
    position: absolute;
    bottom: -2px; 
    left: 0;
    right: 0;
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

.contact-link:hover::after {
    transform: scaleX(1); 
}

.how-to-start-section .section-paragraph{
    margin-bottom: 2em;
    
}
.how-to-start-section .steps-list {
    text-align: left; /* Align steps to the left for a clean flow */
    margin: 0 auto;
    max-width: 600px; /* Constrain the steps' width */
    margin-bottom: 2em;
}

.how-to-start-section .steps-list h3 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin: 0.5rem 0; /* Adjust vertical spacing */
    color: #171C24;
}

.how-to-start-section .steps-list p {
    font-size: 18px;
    color: #3C4B62;
    margin: 0.5rem 0 1rem; /* Adjust spacing between text blocks */
    padding-left: 1.5rem; /* Add indentation to the descriptions */
}

/* For screens 768px and below */
@media (max-width: 768px) {
    .shorten-section h1 {
        font-size: 40px;
    }
    
    .shorten-section h2 {
        font-size: 40px;
    }
    .shorten-section p {
        font-size: 16px;
        line-height:  30px;
    }
    .shortened-links h2 {
        font-size: 16px;
        margin-right: 325px;
        white-space: nowrap;
    }
    .shorten-form input {
        padding: 14px 35px;
        width: 290px;
        font-size: 14px;
    }

    .shorten-form button {
        padding: 14px 35px;
        font-weight: 600;
        font-size: 14px;
    }

    #links-list {
        max-width: 500px;
        font-size: 14px;
    }

    .url-img {
        width: 30px;
    }
    .link-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 300px;
    }
    
    .short-link {
        font-size: 14px;
    }
    
    .long-link {
        font-size: 14px;
    }
    
    .copy-btn,
    .delete-btn {
        width: 20px;
        height: 20px;
    }
    
}

/* For screens 540px and below */
@media (max-width: 540px) {
    .shorten-section h1 {
        font-size: 35px;
    }
    
    .shorten-section h2 {
        font-size: 35px;
    }
    .shorten-section p {
        font-size: 14px;
        line-height:  30px;
    }
    .shortened-links h2 {
        font-size: 14px;
        margin-right: 295px;
        white-space: nowrap;
    }
    .shorten-form input {
        padding: 14px 35px;
        width: 290px;
        font-size: 12px;
    }
    
    .shorten-form button {
        padding: 14px 35px;
        font-weight: 600;
        font-size: 12px;
    }

    #links-list {
        max-width: 450px;
        font-size: 12px;
    }

    .url-img {
        width: 25px;
    }
    .link-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 280px;
    }
    
    .short-link {
        font-size: 12px;
    }
    
    .long-link {
        font-size: 12px;
    }
    
    .copy-btn,
    .delete-btn {
        width: 18px;
        height: 18px;
    }
    
}


/* For screens 487px and below */
@media (max-width: 487px) {
    #links-list {
        max-width: 440px;
        font-size: 12px;
    }

    .link-info {
        max-width: 270px;
    }
}
/* For screens 477px and below */
@media (max-width: 477px) {
    .shorten-section h1 {
        font-size: 30px;
    }
    
    .shorten-section h2 {
        font-size: 30px;
    }
    .shorten-section p {
        font-size: 12px;
        line-height:  25px;
    }
    .shortened-links h2 {
        font-size: 14px;
        margin-right: 245px;
        white-space: nowrap;
    }
    .shorten-form input {
        padding: 14px 35px;
        width: 290px;
        font-size: 12px;
    }
    
    .shorten-form button {
        padding: 14px 35px;
        font-weight: 600;
        font-size: 12px;
    }

    #links-list {
        max-width: 400px;
        font-size: 12px;
    }

    .url-img {
        width: 25px;
    }
    .link-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 240px;
    }
    
    .short-link {
        font-size: 12px;
    }
    
    .long-link {
        font-size: 12px;
    }
    
    .copy-btn,
    .delete-btn {
        width: 18px;
        height: 18px;
    }
    
}

/* For screens 442px and below */
@media (max-width: 442px) {
    #links-list {
        max-width: 390px;
        font-size: 12px;
    }

    .link-info {
        max-width: 235px;
    }
}
/* For screens 430px and below */
@media (max-width: 430px) {
    #links-list {
        max-width: 375px;
        font-size: 12px;
    }
    .link-info {
        max-width: 220px;
    }  
}
/* For screens 415px and below */
@media (max-width: 415px) {
    .shorten-section h1 {
        font-size: 25px;
    }
    
    .shorten-section h2 {
        font-size: 25px;
    }
    .shorten-section p {
        font-size: 10px;
        line-height:  20px;
    }
    .shortened-links h2 {
        font-size: 14px;
        margin-right: 195px;
        white-space: nowrap;
    }
    .shorten-form input {
        padding: 14px 35px;
        width: 250px;
        font-size: 12px;
    }
    
    .shorten-form button {
        padding: 14px 35px;
        font-weight: 600;
        font-size: 12px;
    }

    #links-list {
        max-width: 350px;
        font-size: 10px;
    }

    .url-img {
        width: 20px;
    }
    .link-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 200px;
    }
    
    .short-link {
        font-size: 12px;
    }
    
    .long-link {
        font-size: 12px;
    }
    
    .copy-btn,
    .delete-btn {
        width: 18px;
        height: 18px;
    }
    
}

/* For screens 390px and below */
@media (max-width: 390px) {
    .shorten-section h1 {
        font-size: 25px;
    }
    
    .shorten-section h2 {
        font-size: 25px;
    }
    .shorten-section p {
        font-size: 10px;
        line-height:  20px;
    }
    .shortened-links h2 {
        font-size: 14px;
        margin-right: 175px;
        white-space: nowrap;
    }
    .shorten-form input {
        padding: 14px 25px;
        width: 200px;
        font-size: 12px;
    }
    
    .shorten-form button {
        padding: 14px 25px;
        font-weight: 600;
        font-size: 12px;
    }

    #links-list {
        max-width: 330px;
        font-size: 10px;
    }

    .url-img {
        width: 20px;
    }
    .link-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 180px;
    }
    
    .short-link {
        font-size: 12px;
    }
    
    .long-link {
        font-size: 12px;
    }
    
    .copy-btn,
    .delete-btn {
        width: 18px;
        height: 18px;
    }
    
}
/* For screens 371px and below */
@media (max-width: 371px) {
    .shorten-section h1 {
        font-size: 25px;
    }
    
    .shorten-section h2 {
        font-size: 25px;
    }
    .shorten-section p {
        font-size: 10px;
        line-height:  20px;
    }
    .shortened-links h2 {
        font-size: 14px;
        margin-right: 165px;
        white-space: nowrap;
    }
    .shorten-form input {
        padding: 14px 25px;
        width: 200px;
        font-size: 12px;
    }
    
    .shorten-form button {
        padding: 14px 25px;
        font-weight: 600;
        font-size: 12px;
    }

    #links-list {
        max-width: 320px;
        font-size: 10px;
    }

    .url-img {
        width: 20px;
    }
    .link-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 160px;
    }
    
    .short-link {
        font-size: 12px;
    }
    
    .long-link {
        font-size: 12px;
    }
    
    .copy-btn,
    .delete-btn {
        width: 18px;
        height: 18px;
    }
    
}
