footer {
    background-color: #F8F8FD;
    padding: 33px 20px; /* Increased padding for a larger footer */
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    font-size: 12px; /* Slightly increased font size */
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.footer-p1{
    font-size: 12px;
    color:#84819E;
    font-weight: 500;
    margin-left:-8px;
    margin-top: 5px;
    display: inline-block;
}
.footer-p2{
    font-size: 12px;
    color:#ABB2BF;
    font-weight: 500;
    margin-top: 5px;
    display: inline-block;
}
.footer-p3{
    font-size: 10px;
    color:#ABB2BF; 
    display: block;
    margin-top: 12px;
}

.footer-container p {
    margin: 0;
    padding-bottom: 20px; /* Increased padding for spacing */
}

.footer-links {
    margin-top: 15px; /* Increased margin for better spacing */
}

.footer-links a {
    margin: 0 12px; /* Slightly increased margin between links */
    text-decoration: none;
    color: #A2ABB8;
    font-weight: 550;
    font-size: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-img {
    width: 20px;
    margin: 0;
    position: relative;
    top: 2px;
    left: -5px;
}


@media (max-width: 1189px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        font-size: 12px; /* Slightly increased font size */
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
}
@media (max-width: 1023px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 730px;
        font-size: 12px; /* Slightly increased font size */
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 33px; /* Adjust padding for smaller screens */
    }

    .footer-container {
        flex-direction: column; /* Stack content vertically */
        text-align: center; /* Center-align text */
        margin-bottom: 11px;
    }

    .footer-links {
        margin-bottom: 33px; /* Spacing above the footer text */
        order: -1; /* Move footer links above the text */
    }

    .footer-container p {
        margin: 0;
        padding-bottom: 0; /* Remove bottom padding */
    }
}
