Options -Indexes
RewriteEngine On

# Check if the request is not for an existing directory or file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite all other URLs to index.php with the 'url' parameter
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
